<ol class="breadcrumb">
    <li><a href="#/home">Home</a></li>
    <li class="active">Register</li>
</ol>

<div ng-hide="ItWorked">
    <h1>NOT WORKING YET.</h1>
</div>
<div ng-show="ItWorked">
    <h1>IT WORKED.</h1>
</div>

Register here

<!-- PUT SOME CLIENT-SIDE VALIDATION IN HERE.-->
<form ng-hide="viewModel.isLoggedIn">
    <input type="text"
           class="form-control"
           placeholder="User Name"
           ng-model="viewModel.UserData.UserName" />
    <input type="text"
           class="form-control"
           placeholder="First Name"
           ng-model="viewModel.UserData.FirstName" />
    <input type="text"
           class="form-control"
           placeholder="Last Name"
           ng-model="viewModel.UserData.LastName" />
    <input type="text"
           class="form-control"
           placeholder="Email Address"
           ng-model="viewModel.UserData.Email" />

    <input type="password"
           class="form-control"
           placeholder="Password"
           ng-model="viewModel.UserData.Password" />

    <button type="submit"
            class="btn btn-default"
            ng-click="viewModel.RegisterUser()">
        Register
    </button>
</form>


<form ng-hide="viewModel.isLoggedIn">
    <input type="text"
           class="form-control"
           placeholder="User Name"
           ng-model="viewModel.UserData.UserName" />

    <input type="password"
           class="form-control"
           placeholder="Password"
           ng-model="viewModel.UserData.Password" />

    <button type="submit"
            class="btn btn-default"
            ng-click="viewModel.LoginUser()">
        Login
    </button>
</form>